body {
	background: black;
	overflow: hidden;
}

a {
	color: white;
}

footer {
	position: fixed;
	color: white;
	text-align: right;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	z-index: 999;
	background: transparent;
}

#c {
	background-color: transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

#c2 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
